@import url('../global/variables.css');

.btn {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btnOutline {
    text-decoration: none;
    cursor: pointer;
}

.link {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.input {
    background-color: var(--grey);
    border: none;
    border-radius: 12px;
}

.li {
    list-style: none;
}

.gradient {
    background: linear-gradient(45deg, rgb(163, 5, 5) 0%, rgb(248, 149, 0) 50%, rgb(236, 226, 89) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradient 2s ease-in-out alternate infinite;
}

.gradient-blue {
    background: linear-gradient(45deg, #6C97DC  0%, #4278CD  50%, #2E62C2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradient 2s ease-in-out alternate infinite;
}

@keyframes gradient {
    0% { background-position: 0% 25%; }
    50% { background-position: 50% 75%; }
    100% { background-position: 75% 100%; }
}