@import url('../global/variables.css');

.btn {
    text-decoration: none;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}

.link {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.page {
    margin:122px;
}

.input {
    background-color: var(--grey);
    border: none;
    border-radius: 12px;
}