
:root {
    --font-default:'Poppins', sans-serif;

    --black: #060606;
    --white:#FFFFFF;

    --grey: #D9D9D9;
    --bg: #E7E7E7;

    --primary: #2E62C2;
    --yellow: #E7BD34;
    --orange: #D6582F;
    --red: #C62929;
}