.header {
    min-height: 87px;
}

.nav-main {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    margin-right: 24px;
}

.nav-item {
    margin: 0 12px 0 12px;
    transition: 1s ease;
}

.nav-item:hover {
    font-weight: 400;
}

.nav-notificacao {
    margin: auto 24px auto 12px;
}

.nav-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}
