@import url('../../../global/variables.css');

.contentFunctional {
    width: 490px;
    height: 110px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 110px;
}

.functionalTitle {
    font-size: 32px;
    color: var(--black);
}

.funcionalText {
    color: #696969;
    font-size: 24px;
    margin-bottom: 30px;
}

.functionalRow {
    background-color: #696969;
    height: 8px;
    border-radius: 8px;
}

.parentGrid {
    color: var(--white);
}


.cardOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 200px;
    background-color: var(--primary);
    color: var(--white);
    opacity: 80%;
    border-radius: 32px;
}

.cardTwo {
    background-image: url('../../../../images/pages/index/background-grid-1.png');
    width: 317px;
    height: 460px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parentText{
    width: 216px;
    height: 108px;
    font-size: 24px;
    margin-bottom: 25px;
    color: #d6d6d6;
    font-weight: 300;
}

.parentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    width: 240px;
    height: 50px;
    border-radius: 12px;
    color: var(--white);
    background: none;
    border: 2px solid var(--white);
    padding: 2px var(--white);
}

