@import url('../../../global/variables.css');


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 35px 120px 35px;
}

.logo {
    font-size: 20px;
}

.nav {
    align-items: center;
}

.linkPages {
    font-size: 16px;
    margin: 0 15px 0 15px;
    color: #747474;
    transition: ease .5s;
}

.linkPages:hover {
    color: #1D1D1D;
}

.actionBtnNav {
    font-size: 16px;
    color: var(--white);
    border-radius: 32px;
}

.loginNav {
    background-color: #b8b8b8;
    width: 127px;
    height: 40px;
    transition: ease .5s;
}

.loginNav:hover {
    background-color:var(--gray) ;
    color: var(--black);
}

.SingninNav {
    background-color: var(--primary);
    min-width: 160px;
    min-height: 40px;
    margin-left: 25px;
    transition: ease .5s;
}

.SingninNav:hover {
    background-color: #4878d3;
}