@import url('../../../global/variables.css');


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 35px 120px 35px;
}

.logo {
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logoEmpresa {
    height: 80px;
    width: 80px;
    font-size: 20px;
}

.nav {
    align-items: center;
}

.linkPages {
    font-size: 16px;
    margin: 0 15px 0 15px;
    color: #747474;
    transition: ease .5s;
}

.linkPages:hover {
    color: #1D1D1D;
}

.actionBtnNav {
    font-size: 16px;
    color: var(--white);
    border-radius: 32px;
}

.loginNav {
    background-color: var(--gray-dark);
    width: 127px;
    height: 40px;
    transition: ease .5s;
}

.loginNav:hover {
    background: none ;
    border: 2px solid var(--gray-dark);
    color:  var(--gray-dark);
    font-weight: bold;
}

.SingninNav {
    background-color: var(--primary);
    min-width: 160px;
    min-height: 40px;
    margin-left: 25px;
    transition: ease .5s;
}

.SingninNav:hover {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
}