.heroCell {
    width: 100%;
    margin: auto;
}

.cellAlign {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cellphones-img {
    width: 18vw;
}

.cell1 { margin-top: 16vw; }

.cell2 { margin-top: 8vw;}

.cell3 { margin-top: 0; }

.cell4 { margin-top: 8vw; }

.cell5 { margin-top: 16vw;}