@import url('../../../global/variables.css');

.imagensFundo{
    display: block;
    position: absolute;
    z-index: -1;
}   

.imagensFundo .pessoa{
    width: 99vw;
    margin-bottom: -36rem;
    margin-top: -16rem;
}

.imagensFundo .fumaca{
    width: 99vw;
    position: relative;
}
.heroSection {
    width: 1080px;
    height: 850px;
    margin: auto;
}

.cardsHero {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.cardsFlutuantes {
    display: block;
}

.heroGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.floating1 {
    display: flex;
    justify-content: end;
}
    

.floating2 {
    margin: 80px 20px 40px 20px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.floating3 {
    display: flex;
    justify-content: end;
    grid-column-start: 1;
    grid-row-start: 3;
}

.floatingContent {
    margin: auto;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
}

.floating5 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.floating6 {
    display: flex;
    justify-content: end;
    grid-column-start: 3;
    grid-row-start: 2;
}

.floating7 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.contentHero {
    padding: 20px;
} 

.heroTitle {
    color: var(--blue);
    width: 487px;
    height: 100px;
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.heroTitle span {
    font-weight: bold;
    color-interpolation-filters: line;
}

.gradient {
    background: linear-gradient(45deg, rgb(163, 5, 5) 0%, rgb(248, 149, 0) 50%, rgb(236, 226, 89) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradient 2s ease-in-out alternate infinite; 
}

@keyframes gradient{
    0% {
		background-position: 0% 25%;
    }
    50%{
        background-position: 50% 75%;
    }
    100%{
        background-position: 75% 100%;
    }
}
.heroText {
    color: var(--color-gray);
    width: 487px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.containerBtn {
    display: flex;
    justify-content: center;
}

.actionButtonHero {
    width: 217px;
    height: 60px;
    color: var(--white);
    background-color: rgb(236, 112, 29);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.actionButtonHero:before{
    content: '';
    width: 0;
    height: 60px;
    border-radius: 30em;
    box-shadow: 10px 0 35px rgb(235, 89, 44);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(235, 89, 44);
    color: var(--white);
    transition: .5s ease-in;
    display: block;
    z-index: -1;
}

.actionButtonHero:hover:before{
    width: 217px;
}

.circle {
    background-color: var(--white);
    width: 47px;
    height: 42px;
    border-radius: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fa-arrow-right-long {
    font-size: 16px;
    color: var(--black);
    margin: auto;
    width: 24px;
    height: 24px;
}
