.videosSection{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    overflow: auto;
}
.videosSection::-webkit-scrollbar {
    display: none;
}

.slideImg {
    width: 100%;
    height: 90px;
    align-items: right;
}

.categoryTitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.c1 {
    color: var(--red);
}

.c2 {
    color: var(--orange);
}

.c3 {
    color: var(--yellow);
}

.c4 {
    color: var(--green);
}

.categoryText {
    width: 580px;
    font-size: 32px;
    margin-bottom: 25px;
}


.frameVideo{
    width: 520px;
    height: 350px;
    border-radius: 32px;
}

.slideLateralSection {
    margin-bottom: 110px;
}