.videosSection{
    margin-bottom: 110px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    overflow: auto;
}
.videosSection::-webkit-scrollbar {
    display: none;
}

.videoSection .cardVideo {
    margin-right: 15px;
}

.img {
    width: 50px;
    height: 50px;
}

.videoScroll{
    /* display: flex; */
}


.categoryTitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.categoryText {
    width: 580px;
    font-size: 32px;
    margin-bottom: 25px;
}


.frameVideo{
    width: 520px;
    height: 350px;
    border-radius: 32px;
}